body
{
	padding: 0px;
	margin: 0px;
}
.statics
{
    padding:0px;
}

.left > ul , .right > ul
{
    margin:0px;
    padding:0px;
}
.left
{
    padding:0px;
    margin:0px;
    float:left;
    width:200px;
    font-weight: bold;
}

a , a:visited
{
	text-decoration: none;
	color: #333;
}

.right
{
    padding:0px;
   list-style:none;
    float:left;
    width:200px;
}

.left > ul > li, .right > ul > li {
    list-style:none;
     padding:0px;
     margin:0px;
}


.table_header
{
	background-color: #D4DDE6;
}

.table_admin td
{
border: 0px;
padding-left: 5px;
padding-right: 5px;
}

.table_header th
{
	border-top: 1px solid #7082AA;
	border-bottom: 1px solid #E2E9F6;
}

.popup
{
   
   position: fixed;
   width: 100%;
   opacity: 0.9;
   top:0px;
   min-height:200px;
   height:100%;
   z-index: 100;
   background: #FFFFFF;
   font-size: 20px;
   text-align: center;
   display:none; 
}

.admin_menu_wrapper
{
	width: 100%;
	background-color: #CCC;
	padding: 0px;
	margin: 0px;
}

.admin_menu
{
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.admin_menu li
{
	display: inline;
	border-right: 1px #444 solid;
	padding-left: 5px;
	padding-right: 5px;
}

input[type=button],input[type=submit],input[type=reset]
{
    
    background-color:#E9E9E9;
    border:1px solid #5C5C5C;
    -moz-border-radius: 2em;  
    -webkit-border-radius: 2em;
    margin-left:5px;
    outline:none;
    -moz-outline-style: none;

}

input[type=button]:hover,input[type=submit]:hover,input[type=reset]:hover
{
    background-color:#97C6EE;
    color: #FFF;
}

.btnbar
{
	padding: 5px;
}