body{
    margin:0px;
    padding:0px;
    height:90%;
   background:url("../images/bg.jpg") repeat-y;
   font-family:Zawgyi-one,Arial;
   font-size:12px;
}


.top_menu
{
    position:fixed;
    top:0px;
    background-color:#ccc;
    width:100%;
    padding:2px;
}

.top_menu img
{
    vertical-align:middle;
    z-index:100;
}

#wrapper
{
    margin-top:40px;
    
}
img{
    border:none;
     -moz-outline-style: none;
     outline:none;
}

input[type=text],input[type=password]
{
     -moz-border-radius: 2em;  
    -webkit-border-radius: 2em;
    background-color:#FFF;
    border:1px solid #5C5C5C;
    padding-left:8px;
   
}

.searchbox
{
    width:200px;
    background-color:#FFF;
    font-size:13px;
    padding-left:8px;
    position:relative;
    height:22px;
    border:1px solid #5C5C5C;
}

input[type=button],input[type=submit],input[type=reset]
{
    
    background-color:#E9E9E9;
    border:1px solid #5C5C5C;
    -moz-border-radius: 2em;  
    -webkit-border-radius: 2em;
    margin-left:5px;
    outline:none;
    -moz-outline-style: none;

}

input[type=button]:hover,input[type=submit]:hover,input[type=reset]:hover
{
    background-color:#97C6EE;
}

.logo
{
    padding-bottom:10px;
    padding-top:10px;
    margin-right:5px;
}

.history
{
    margin:0px;
    padding-top:0px;
}
.history a, .history a:link,.history a:focus
{
    width:193px;
    padding-left:7px;
    text-decoration:none;
    color:#333;
    display:block;
    outline:none;
    
}

.history a:hover
{
    background-color:#6F81A9;
    color:#FFF;
    outline:none;
    
}

#left
{
    width:200px;
    float:left;
   
}
form{
    padding:0px;
    margin:0px;
}

#left h3{
    font-size:14px;
    padding:0px;
    margin:0px;
    text-align:center;
     padding-top:4px;
     background-image:url("../images/head.jpg");
     background-repeat: repeat-x;
     font-weight:100;
     height:22px;
     color:#FFF;
}

#result
{
    float:left;
    padding-left:8px;
    font-size:12px;
    width:65%;
}

.sidebar_rm
{
    position:absolute;
    left:182px;
    vertical-align:middle;
    margin-top:3px;
    z-index:1;
    visibility:hidden;
    
}

.result
{
    width:100%;
    padding-top:5px;
    padding-bottom:5px;
    border-bottom:#ccc 1px dotted;
}

.btn
{
    display:inline;
    margin-top:-5px;
    margin-left:5px;
    cursor:pointer;
}

#login_form input[type=text]
{
    color:#AAA;
}

.select_btn
{
    border:#aaa 1px dotted;
}

.page_lnk
{
    padding-top:10px;
}
.page_lnk a, .page_lnk a:link
{
    color:#333;
    text-decoration:none;
  
}

.login_frm
{
    background-color:#eee;
    margin-top:42px;
    padding:3px;
}

.page_nav
{
    outline:none;
}

.popup
{
   
   position: absolute;
   width: 100%;
   opacity: 0.9;
   top:0px;
   min-height:200px;
   height:100%;
   z-index: 100;
   background: #FFFFFF;
   font-size: 20px;
   text-align: center;
   display:none;
   
   
   
}

